.cart {
    margin: 100px 0;
}

.cart hr {
    height: 1px;
    background-color: #E2E2E2;
    border: none;
}

.cart-items-title {
    display: flex;
    justify-content: space-between;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw, 12px);
    padding-left: 20px;
    padding-right: 20px;
}

.cart-items-title p {
    margin: 5px 0;;
}

.cart-cards {
    background-color: #EFEFEF;
    color: #fff;
    border: 1px solid #ededed;
    padding-left: 40px;
    padding-right: 40px;
    margin: 16px 0;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    display: compact;
    flex-direction: column;
    align-items: center;
}

.cart-cards p {
    color: #0C1D26;
    font-size: max(1vw, 12px);
    margin: 4px 0;
}
.cart-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 16px;
}

.cart-cards button.delete-cart-button {
    border: #eaeaea;
    margin-top: 4px;
    color: white;
    background-color: #AC7979;
    width: 50px;
    height: 50px;
    padding: 7px 0 7px 0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.cart-cards button.delete-cart-button:hover {
    transform: scale(0.95);
    box-shadow: 0 4px 8px #333333;
}
/*
.cart-items-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
}
.cart-items-item-info p {
    margin: 0 10px;
}
.cart-items-item-info button {
    margin-top: 10px;
    border: #eaeaea;
    color: white;
    background-color: #AC7979;
    width: 100%;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}
.cart-items-item-info button:hover {
    transform: scale(0.95);
    box-shadow: 0 4px 8px #333333;
}

.cart-items-item img.cart-coffee-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 16px;
}
 */




